*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

body,html{
    overflow-y: hidden;
    height:100%;
    background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("icones/backgroundaccueil.jpg");
}

header{
    display:flex;
    width: auto;
    height: 3em;
    background-color:black;
    align-items: center;    
}

#logobox {
    margin-left: auto;
    padding: 0.8em;
}

a{
    text-decoration: none;
}

#logomembre{
    width:2em;
    height:2em;
}

header h1{
    display:flex;
    justify-content: center;
    font-size: 1.1em;
    color:rgb(255, 255, 255);
    letter-spacing: 0.2em;
    margin-left:0.8em;
}

.container{
    align-items: center;
    justify-content:center;
    display: flex;
    height: 100%;
    justify-content:center;
    align-items:center;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("icones/datacenter.jpg");
    background-position: center;
}

.loginbox{
    border-radius:0.5em;
    height:23em;
    width:20em;
    background-color:rgb(0, 0, 0,0.4);
    backdrop-filter:blur(4px);
}

#formlogin > h1{
    color:white;
    margin-left:0.9em;
    margin-top:1em;
}

#formlogin h2{
    display:flex;
    color:white;
    justify-content: center;
    font-weight:normal;
    font-size:0.6em;
    font-style:italic;
    margin-top:1em;
    opacity:50%;
}

.textbox{
    border-bottom: 1px solid;
    border-color:white;
    padding:0.3em;
    margin:30px;
}

.textbox input{
    border:none;
    background:none;
    outline:none;
    color:white; /* pour le curseur texte */
    width:14em;
}

.textbox i{
    color:white;
    padding:0.1em;
}

.inscription{
    border:solid;
    border-width:0.1em;
    border-radius:0.3em;
    margin-top:3em;
    margin-left:3em;
    margin-right:3em;
    width:auto;
    display:flex;
    justify-content: center;
    color:white;
    
}

.inscription input{
    padding:1em;
    border:none;
    background:none;
    outline:none;
    letter-spacing:0.5em;
    color:white;
    font-size:0.6em;
}